server:
  address: "127.0.0.1"
  port: 8080
database:
  postgres:
    address: "127.0.0.1"
    port: 5432
    username: "admin"
    password: "password"
  redis:
    address: "127.0.0.1"
    port: 6379
